
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


h1{
    text-align: center;
    color: aquamarine;
    background-color: green;
    font-size: 50px;
}

ul{
    font-size: 30px;
    color: black;
}

body{
    background-color: blanchedalmond;
}

.titulo-meta{
    background-color: bisque;
    font-size: 60px;
}

.lista{
    font-family: Anta;
}
